#SetEnv APPLICATION_ENV development # moved to vhost settings

RewriteEngine On
#RewriteBase /projekty/GeoSocialApp-Agregator/public/  # moved to vhost settings
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
