body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	color: #000;
	font: normal .75em/150% verdana, sans-serif;
	text-align: center;
}


/* Links */
a:link, a:visited {
	text-decoration: underline;
	color: #00f;
}
a:hover {
	color: #00a;
}
a:active {
	color: #008;
}

/* Images */
a img {
	display: inline-block;
	border-style: none;
}

img.icon {
	margin-left: 1ex;
	vertical-align: middle;
	border-style: none;    
}

/* Text */
p {
	margin: 0 0 1em;
}
abbr, acronym {
	border-bottom: 1px dotted #ccc;
	cursor: help;
}

/* Generic classes */
.right {
	text-align: right;
}
.left {
	text-align: left;
}
.center {
	text-align: center;
}
div.clearer {
	line-height: 0;
	clear: both;
}
img.right {
	float: right;
	margin: .25em 0 1em 1.5em;
}
img.left {
	float: left;
	margin: .25em 1.5em 1em 0;
}
.hidden {
	display: none;
}


/* Layout */
#document {
    width: 1000px;
    position: relative;
    margin: 0 auto;
    text-align: left;
}
#header {
    width: 100%;
    padding: 0 1em;
}
#header h1 {
    
}
#footer {
    clear: both;
    margin-top: 2em;
    color: #aaa;
    display: none; /* Don't display in testing environment */
}


#content {
    padding: 0 1em;
}

#venues-wrapper {
    margin-top: 1em;
    clear: both;
}
#venues-map {
    border: 1px solid black;
    width: 550px;
    height: 450px;
    float: left;
}

#venues-list {
    margin-left: 550px;
    height: 450px;
    overflow: auto;
}

#venues-list ul {
    margin-top: 0;
}

#venues-list ul li span {
    color: #aaa;
}

#venues-list ul li a {
    color: #00f;
    cursor: pointer;
}

/* Forms */

form fieldset {
    border: 1px solid #ccc;
}

form#searchform, form#addressform {
    height: 9em;
}
form#searchform {
    width: 50%;
    float: right;
}

form#addressform {
    width: 50%;
    
}

form#searchform input[name=lat], form#searchform input[name=long] {
    width: 11ex;
}

form input {
    margin: .5ex 0;
}

form#searchform #search-services {
    float: right;
}

/* jQuery UI CSS overrides */
.ui-state-focus {
    border: 1px solid #cccccc;
    background: #f6f6f6 url('http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/ui-lightness/images/ui-bg_glass_100_f6f6f6_1x400.png') 50% 50% repeat-x;
    font-weight: bold;
    color: #1c94c4; 
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border: 1px solid #fbd850;
    background: #ffffff url('http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/ui-lightness/images/ui-bg_glass_65_ffffff_1x400.png') 50% 50% repeat-x;
    font-weight: bold;
    color: #eb8f00; 
}
.ui-state-active a, 
.ui-state-active a:link,
.ui-state-active a:visited {
    color: #eb8f00; 
    text-decoration: none;
}

form#searchform #search-services .ui-button-text {
    line-height: 1;
    padding: .2em .5em;
}