body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	color: #000;
	font: normal .75em/150% verdana, sans-serif;
	text-align: center;
}


/* Links */
a:link, a:visited {
	text-decoration: underline;
	color: #00f;
}
a:hover {
	color: #00a !important;
}
a:active {
	color: #008 !important;
}

a.external {
	padding-right: 1.25em;
	background: transparent url('../images/external.png') no-repeat right;
}

:focus {
    outline: none !important
}

/* Images */
a img {
	display: inline-block;
	border-style: none;
}

img.icon, img.icon-right, img.icon-left {
    vertical-align: middle;
	border-style: none;
}

img.icon-right, img.icon {
	margin-left: 1ex;
}
img.icon-left {
	margin-right: 1ex;
}


/* Text */
p {
	margin: 0 0 1em;
}
abbr, acronym {
	border-bottom: 1px dotted #ccc;
	cursor: help;
}

/* Generic classes */
.right {
	text-align: right;
}
.left {
	text-align: left;
}
.center {
	text-align: center;
}
div.clearer {
	line-height: 0;
	clear: both;
}
img.right {
	float: right;
	margin: .25em 0 1em 1.5em;
}
img.left {
	float: left;
	margin: .25em 1.5em 1em 0;
}
.hidden {
	display: none;
}


/* Layout */
#document {
    width: 1000px;
    position: relative;
    margin: 0 auto;
    text-align: left;
}
#header {
    width: 100%;
    padding: 0 1em;
}
#header h1 {

}
#header h2 {
    position: absolute;
    top: -.75em;
    right: 0;
    color: #aaa;
    font-weight: normal;
}

#footer {
    clear: both;
    padding-top: 2em;
    color: #aaa;
    font-size: 90%;
}


#content {
    padding: 0 1em;
    width: 100%;
}

#venues-wrapper {
    margin-top: 1em;
    clear: both;
}
#venues-map {
    border: 1px solid black;
    width: 548px;
    height: 450px;
    float: left;
}

#venues-list {
    width: 450px;
    margin-left: 550px;
    height: 450px;
    overflow: auto;
}

#venues-list ul {
    margin-top: 0;
    padding-left: 3em;
}

#venues-list ul li span {
    color: #aaa;
}

#venues-list ul li a {
    color: #00f;
    cursor: pointer;
}

#venues-list p {
    padding-left: 2em;
}

#venues-list p#sorter {
    margin-bottom: .5em;
}
#venues-list p#sorter a {
    color: #00f;
    cursor: pointer;
}

#venues-list #sorter a.active, #venues-list #sorter a.active:hover {
    cursor: default;
    color: #000 !important;
}

#oauth-wrapper {
    clear: both;
    margin: 1ex 0;
    height: 24px;
}
#oauth-wrapper div {
    float: left;
    text-align: center;
    line-height: 24px;
    margin-right: 2ex;
}
#oauth-wrapper div#fq-connect {
    width: 150px;
}
#oauth-wrapper div#gw-connect {
    width: 156px;
}
#oauth-wrapper div#fb-connect {
    width: 95px;
}
#oauth-wrapper div a {
    display: inline-block;
    width: 100%;
    text-align: center;
}
#oauth-wrapper a#openFriendsWindow {
    line-height: 24px;
    text-decoration: none;
    cursor: help;
}

/* Forms */
form fieldset {
    border: 1px solid #ccc;
    padding: 3px 5px 6px;
}

form#searchform, form#addressform {
    /*height: 9em;*/
}
form#searchform {
    width: 63%;
    float: right;
}

form#searchform input[name=lat], form#searchform input[name=long] {
    width: 10ex;
    margin-right: .65ex;
}
form#searchform input[name=radius] {
    width: 6ex;
}

form input {
    margin: .5ex 0;
}

form#searchform #search-services {
    float: right;
}

form#addressform {
    width: 37%;
}

form#addressform input[name=address] {
    width: 40ex;
}

/* POI detail window */
#detail, #friends {
    text-align: left;
    padding: 1ex;
}
#detail h1, #friends h1 {
    margin-top: .5em;
    margin-bottom: .9em;
}

#detail-map {
    width: 350px;
    height: 300px;
    float: right;
    border: 1px solid black;
    margin: 0 1ex 1ex 1em;
}

#detail ul {
    margin-top: 0;
    padding-left: 2em;
}

#venue-categories {
    float: right;
    margin: .5ex 1ex .5ex 1ex;
    height: 32px;
}

#venue-categories img {
    margin-left: 1ex;
    max-width: 32px;
    max-height: 32px;
}

/* POI detail photo carousel */
#venue-photos {
    clear: both;
}
#photos-wrapper {
    margin: 0 auto;
    width: 600px;
}
#photos-wrapper ul, #photos-wrapper li {
    padding: 0;
    margin: 0;
}

ul#photos-carousel {
    width: 600px;
}

#photos-carousel li {
    width: 120px;
    height: 100px;
}
#photos-carousel li a {
    display: block;
    width: 100px;
    height: 100px;
    overflow: hidden;
    text-align: center;
}
#photos-carousel li img {
    height: 100px;
    cursor: pointer;
}

/* Tooltip for photos in carousel */
.photo-tooltip {
    height: 210px;
    width: 320px;
    background-image: url('../images/fancybox_loading.gif');
    background-position: center center;
    background-repeat: no-repeat;
}
.photo-tooltip-image img {
    height: 210px;
    max-width: 320px;
}
.photo-tooltip-title {
    position: absolute;
    bottom: 1em;
    height: 2em;
    width: 320px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    text-shadow:  0 0 .3em #000, 0 0 .2em #000, 0 0 .1em #000;
}

/* Checkin form */
#checkin-form {
    overflow: hidden;
}
#checkin-form div label {
    display: block;
    width: 12em;
    float: left;
    height: 25px;
    line-height: 25px;
}
#checkin-form span {
    display: block;
    width: 160px;
    height: 25px;
    line-height: 25px;
    margin-left: 12em;
}
#checkin-message-label {
    display: block;
    width: 12em;
    float: left;
    height: 25px;
    line-height: 25px;
}
#checkin-submit {
    display: block;
}

#checkin-form span img.result {
    cursor: help;
}

/* Friends activity window */
#friends-map {
    width: 730px;
    height: 400px;
    border: 1px solid black;
    margin: 1ex auto;
    clear: both;
}
.friend-marker img {
    border: 2px solid #000;
    border-radius: 4px;
    width: 32px;
    height: 32px;
}
#friends-time-filter {
    float: left;
    margin-right: 2em;
}

/* jQuery UI CSS overrides */
.ui-state-focus {
    border: 1px solid #cccccc;
    background: #f6f6f6 url('http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/ui-lightness/images/ui-bg_glass_100_f6f6f6_1x400.png') 50% 50% repeat-x;
    font-weight: bold;
    color: #1c94c4;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border: 1px solid #fbd850;
    background: #ffffff url('http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/ui-lightness/images/ui-bg_glass_65_ffffff_1x400.png') 50% 50% repeat-x;
    font-weight: bold;
    color: #eb8f00;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    color: #eb8f00;
    text-decoration: none;
}

form#searchform #search-services .ui-button-text {
    line-height: .9;
    padding: .2em .35em;
}
input.ui-button {
    padding: 0.15em 1em;
    background-image: none;
}

.ui-buttonset {
    margin-right: 5px;
}

/* Google Maps CSS overrides */

.pac-item {
    text-align: left;
}

#infoWindow ul {
    margin: 1ex 0;
    padding-left: 1.5em;
}

#infoWindow img.avatar {
    width: 64px;
    height: 64px;
    float: left;
	margin: .5ex 1.5ex 1ex 0;
}
.infoWindow-wrapper {
    min-width: 250px;
    height: 85px;
    overflow: auto;
}